html,body{
    margin: 0;
    padding: 0;
}
.wrap{
    background-image: url('../img/bg.png');
    width: 1280px;
    height: 800px;
}
.col{
    position: absolute;
}
.card{
    display: inline-block;
    width: 80px;
    position: relative;
    height: 110px;
    overflow: hidden;
    margin: 10px 10px 0px;
}
.card > img{
  width: 100%;
}
